<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME </title>
</head>
<body>
this is the home page
<form action="/logout" method="post">
    <strong>to logout</strong>
    <button type="submit">logout</button>
</form>
<h1>to upload a file </h1>
<form action="/upload" name="get">
    <button type="submit">upload</button>
</form>
</body>
</html>