this is signup page
<form action="/signup" method="post">
    <input  placeholder="enter username" name="username">
    <input type="password" placeholder="enter password" name="password">
    <button type="submit">submit</button>
</form>